.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
    font-size: 2vw;
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    border-radius: 12px;
    background-color: #e1f1ff;
    color: #004687;
}
.card h1{
    font-size: 3vw;
    font-family: 'Karla', sans-serif;
    font-weight: 800;


}

.card .cardicon{
    font-size: 5vw;
    color: #F33A6A;
}